<%- include ("../partials/header") %>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '549728007869525');
fbq('track', 'PageView');

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=549728007869525&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

 
     


 <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">
 <% pinksaps.forEach(function(pinksap){ %>
  <h2 class="text-center text-uppercase"><%= pinksap.title %></h2>
  <ul class="row justify-content-center list-unstyled mb-4">
   

  <li class="col-6 col-sm-4 col-md-3">
  
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="">
  </div>
  <h2 class="h6 mb-0"><%= pinksap.price %></h2>
 <a href="/add-to-cart-pinksap/<%= pinksap._id %>"  class="btn btn-pink btn-rounded"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>buy</a>
  
  </li> </ul>
<% }); %>
</div></div></div></div></div>
 

  
  <%- include ("../partials/footer") %>.
