<%- include ("../partials/header") %>.




<% if (successMsg) { %>
  <div class="alert alert-success"><%= successMsg %></div>
  <% } %>

<!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Shop by colour</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/yellowv2">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483209243_232f00611a.jpg">
  </div>
  <h2 class="h6 mb-0">Yellow Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/neutral">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484155506_d4ef44d858.jpg">
  </div>
  <h2 class="h6 mb-0">Neutrals Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/greens">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482500350_19c6cfc28d.jpg">
  </div>
  <h2 class="h6 mb-0">Greens Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/pink">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483207460_1e36b3f486.jpg">
  </div>
  <h2 class="h6 mb-0">Pinks Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/blue">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54476907263_52ab998097_c.jpg">
  </div>
  <h2 class="h6 mb-0">Blues Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/grey">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481397447_9b42e4783b.jpg">
  </div>
  <h2 class="h6 mb-0">Greys Colors</h2>
  </a>
  </li>


  
</ul></div></div></div></div></div>
  <!-- Navigation & Intro -->
 
        
  <!-- sale content -->
<hr class="mt-4">
<!-- Section: Features v.4 -->
      <section id="features" class="text-center my-5">

        <!-- Section heading -->
        <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
          <strong>Our Service</strong>
        </h2>
</section>

 <div class="container bm-container-md">	
      <a class="d-block h-100 overflow-hidden bm-img-link" href="/power" target="_self">
        <picture>
            <img alt="New Wallpaper now in store at B&amp;M." class="w-100 bm-lazyload ls-is-cached lazyloaded"  src="https://s3.gifyu.com/images/bSimU.png">
          </picture>
      </a>
            <a class="btn btn-blue btn-rounded btn-lg white-text font-weight-bold ml-0 wow fadeIn" data-wow-delay="0.2s" href="/power">
<i class="fas fa-magnifying-glass"></i>find</a>
      </div>	
<hr class="mt-4">

<!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Sale</h2>
  <ul class="row justify-content-center list-unstyled mb-4">
    <% sales.forEach(function(sale){ %>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="<%= sale.href %>">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="<%= sale.image %>">
  </div>
  <h2 class="h6 mb-0"><%= sale.title %></h2>
  </a>
  </li>
  <% }); %>
  
</ul></div></div></div></div></div>
 <!-- Navigation & Intro -->


<hr class="mt-4">

<!-- Section: About 1 -->
      <section id="about" class="mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

        <!-- Grid row -->
        <div class="row pt-2 mt-lg-5">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
            <!-- Image -->
        <a class="d-block h-100 overflow-hidden bm-img-link" href="/sale/tool" target="_self">
        <picture>
            <img  src=https://images.prismic.io/johnstones-paint/Z2qXLZbqstJ98z9-_BRAWL-PROJ606-PPG-JSRRetainerMAY2023-01.Intuitive16x9-v2.00_00_10_02.Still010.png?auto=format%2Ccompress&rect=0%2C350%2C1920%2C726&w=2220&h=840" class="img-fluid rounded" alt="My photo" >
          </picture>
      </a>
          
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

            <!-- Secion heading -->
            <a class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s" href="/sale/tool"  >
              <strong>Paint Tools</strong> 
            </a>

            <!-- Description -->
            <p align="justify" class="grey-text">هنا لمساعدتك مع نصائح مفيدة على البدء في مشروع الطلاء الخاص بك، بدءًا من الأسئلة الشائعة وحتى قوائم التحقق من الأدوات..</p>
            
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: About 1 -->

 

  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Shop by room</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/pink02">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483207460_1e36b3f486.jpg">
  </div>
  <h2 class="h6 mb-0">SAPLINGPINK_300P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/yallaw">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483123844_144752d2a2.jpg">
  </div>
  <h2 class="h6 mb-0">LITTELYELLOW_164--P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/pink04">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483127673_8c66470154.jpg">
  </div>
  <h2 class="h6 mb-0">PONPONETTPINK_136P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/pink07">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483127778_b9467fd333.jpg">
  </div>
  <h2 class="h6 mb-0">LITEELPINK_134P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/BEIGE09">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484155241_e080721a64.jpg">
  </div>
  <h2 class="h6 mb-0">ROMAIN_1066P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/beig02">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484348774_499e68bec8.jpg" >
  </div>
  <h2 class="h6 mb-0">RAMIE_1068P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/beige01">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484348799_e2d846208c.jpg" >
  </div>
  <h2 class="h6 mb-0">PRINT_1062P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/beige19">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54484155506_d4ef44d858.jpg">
  </div>
  <h2 class="h6 mb-0">SANDLIGHT_972P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/beige18">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484512515_ff20889f4b.jpg" >
  </div>
  <h2 class="h6 mb-0">ZINNIA_1078P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/yellow01">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src=//live.staticflickr.com/65535/54483209243_232f00611a.jpg" >
  </div>
  <h2 class="h6 mb-0">COOLYELLOW_174-P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/bleu09">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135987_b23529b174.jpg" >
  </div>
  <h2 class="h6 mb-0">BLUEDROP_756P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/bleue14">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482180389_5e8774ddf9.jpg" >
  </div>
  <h2 class="h6 mb-0">COOLMORA_744P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green08">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481290707_f73e099c43.jpg" >
  </div>
  <h2 class="h6 mb-0">FRESHOGREEN_758P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green09">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482500420_d33a1c9c1f.jpg" >
  </div>
  <h2 class="h6 mb-0">DROPGREEN_176P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green13">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482135126_bdc1a068c5.jpg" >
  </div>
  <h2 class="h6 mb-0">BRIGDE_1188P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green18">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482500685_f25f402b5b.jpg">
  </div>
  <h2 class="h6 mb-0">BLUSHGREEN_152P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green19">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482135326_76287a4b39.jpg">
  </div>
  <h2 class="h6 mb-0">SAPLINGGREEN_750P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/green22">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482500350_19c6cfc28d.jpg" >
  </div>
  <h2 class="h6 mb-0">GARDEN_1198P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/blue15">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54481135862_0261d66c2a.jpg">
  </div>
  <h2 class="h6 mb-0">TWEEDIA_752P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/onecoat/blue08">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482263638_167c17c6e5.jpg">
  </div>
  <h2 class="h6 mb-0">FRESHOBLUE_742P</h2>
  </a>
  </li>


</ul></div></div></div></div></div>


 <!-- Section: About 1 -->
      <section id="about" class="mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

        <!-- Grid row -->
        <div class="row pt-2 mt-lg-5">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
            <!-- Image -->
            <img src="https://images.prismic.io/johnstones-paint/ZvqoRLVsGrYSwJEi_Dyrup_Bedroom01.tif?auto=format%2Ccompress&rect=0%2C1003%2C6000%2C2270&w=2220&h=840" class="img-fluid rounded" alt="My photo">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

            <!-- Secion heading -->
            <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
              <strong>Paint Colour Trends</strong>
            </h2>

            <!-- Description -->
            <p align="justify" class="grey-text">تصفح قصص اتجاهاتنا للحصول على الإلهام حول كيفية استخدام الألوان والجمع بينها لإنشاء غرف ذات شخصية..</p>
            
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: About 1 -->
 
<!-- Section: Features v.4 -->
      <section id="features" class="text-center my-5">

        <!-- Section heading -->
        <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
          <strong>Awesome features</strong>
        </h2>

        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum
          dolores reiciendis
          ad voluptas, animi obcaecati adipisci sapiente mollitia.</p>

        <!-- Grid row -->
        <div class="row wow fadeIn" data-wow-delay="0.2s">

          <!-- Grid column -->
          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
               <i class="fas fa-brush"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Interior Paint</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">تُصمم دهاناتنا الداخلية خصيصًا للجدران والأسقف والأسطح الداخلية. اختر دهانات الجدران والأسقف لإنشاء مجموعات ألوان فريدة، أو اترك انطباعًا مميزًا من خلال الجدران والأسقف المميزة. هل تبحث عن شيء أكثر متانة؟ لدينا دهانات للمطبخ والحمامات وطلاء قابل للغسل لتناسب متطلباتك المحددة. اختر من بين أكثر من 2000 لون واعثر على الطلاء المثالي لك اليوم..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-fill-drip"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Facade Paint</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">جهّز حديقتك بمجموعة الدهانات الخارجية لدينا. أضف الحياة إلى سقيفة منزلك بمجموعة ألوان الحدائق لدينا، أو استكشف مجموعتنا من الدهانات الخارجية لأسوارك وبواباتك وغيرها من الأسطح الخارجية. هل تبحث عن طلاء الجزء الخارجي من منزلك؟ استكشف البناء الأملس وأضف أسلوبًا إبداعيًا إلى الخارج..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-paint-roller"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Paint Tools</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">سلسلة من المعلومات والتلميحات والنصائح المفيدة لمساعدتك على البدء في مشروع الطلاء الخاص بك، بدءًا من الأسئلة الشائعة وحتى قوائم التحقق من الأدوات..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Features v.4 -->

  </main>
  <!-- Main content -->

  <%- include ("../partials/footer") %>.
