<%- include ("../partials/header") %>.

<% if (successMsg) { %>
  <div class="alert alert-success"><%= successMsg %></div>
  <% } %>
  <!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Sale</h2>
  <ul class="row justify-content-center list-unstyled mb-4">
    <% sales.forEach(function(sale){ %>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="<%= sale.href %>">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded-circle bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="<%= sale.image %>">
  </div>
  <h2 class="h6 mb-0"><%= sale.title %></h2>
  </a>
  </li>
  <% }); %>
  
</ul></div></div></div></div></div>
        
  <!-- sale content -->
<hr class="mt-4">
<hr class="mt-4">
 <section class="view intro-2" style="background-image: url(https://s3.gifyu.com/images/bSikd.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-gradient-1">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row h-100 d-flex justify-content-center align-items-center">

            <div class="col-md-10 col-lg-6 text-center text-md-left mt-5 pt-4 pt-md-0 mt-lg-0 mb-5 mb-md-0">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold mt-sm-5 mb-4 wow fadeInLeft" data-wow-delay="0.3s">Clean Modern Layout For Your Web</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</h6>
                <a class="btn pink-gradient btn-rounded btn-lg font-weight-bold wow fadeInLeft" data-wow-delay="0.4s">Get started</a>
                <a class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s"><i class="fas fa-play-circle orange-text mr-2" aria-hidden="true"></i> Watch demo</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

<hr class="mt-4">

  </main>
  <!-- Main content -->

  <%- include ("../partials/footer") %>.
